DATABASE_URL=postgresql://postgres:password@localhost:5432/better-auth
BETTER_AUTH_SECRET=TNWRjFfARdhyfMRks7jNssn4pHYQNiIj
BETTER_AUTH_URL=http://localhost:3001 # Base URL of your backend app
UI_URL=http://localhost:3000